<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="jquery-2.1.1.js"></script>
    <script type="text/javascript" src="util.js"></script>
    <title>Html to String</title>
    <script type="text/script">
    </script>
</head>
<!-- <style type="text/css">
    table{
        text-align:center;
    }
    input{
        width:50px;
        height:30px;
    }
</style> -->
<body>
    <div style="width: 1000px;height:600px;">
        <textarea style="width: 450px;height: 500px;font-size: 20px;float: left"  id="sourceText"></textarea>
        <div style="width: 76px;margin-top: 153px;float: left;text-align: center;">
            <button id="btnGo" style="width: 70px;height: 29px;" onclick="go()">go></button>
            <button id="btnBack" style="width: 70px;height: 29px;margin-top: 66px;" onclick="back()">back></button>
        </div>
        <textarea style="width: 450px;height: 500px;font-size: 20px;float: left"  id="processedText"></textarea>
    </div>
</body>
</html>